@import './colors.less';


// Width
@width-app-left: 196px;

// Height
@height-toolbar: 64px;
@height-player: 112px;


// Shadow
@shadow-app: 8px;


// Radius
@radius-progress-border: 999px;
@radius-border: 12px;

@transition-slow: .6s ease;
@transition-normal: .4s ease;
@transition-fast: .3s ease;

@form-radius: 12px;
